body {
    background-color: #A5DD9B;
}

.title{
    color: #000000;
    background-color: #C5EBAA;
    font-style: italic;
    text-align: center;
    margin: 50px;
    padding-top: 20px;
}

.images{
    background-color: #C5EBAA;
    display: flex;
    padding-left: 100px;
}

.recipes{
    display: flex;
}

